.big-feature-container {
  gap: 30px;
}

.feature-description {
  flex-direction: column;
  align-items: center;
}
._container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}
.feature-img img {
  width: 100%;
}
.feature-description {
  flex-direction: column;
  align-items: center;
}
